@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Fira Sans', sans-serif;
      }
      html{
        scroll-behavior: smooth;
      }
      body {
        background: #021526;
      }
      header {
        /* position: fixed; */
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        padding: 20px;
      }
      header .navbar {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .logo img{
        width: 45px;
      }
      .logo .img2{
        width: 36px;
      }
      .navbar .menu-links {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 30px;
      }
      .navbar .menu-links li a {
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        transition: 0.2s ease;
      }
      .navbar .menu-links .language-item a {
        display: flex;
        gap: 8px;
        align-items: center;
      }
      .navbar .menu-links .language-item span {
        font-size: 1.3rem;
      }
      .navbar .menu-links li a:hover {
        color: #6EACDA;
      }
      .navbar .menu-links .join-btn a {
        border: 1px solid #fff;
        padding: 8px 15px;
        border-radius: 4px;
      }
      .navbar .menu-links .join-btn a:hover {
        color: #fff;
        border-color: transparent;
        background: #6EACDA;
      }
      
      .navbar #hamburger-btn {
        color: #fff;
        cursor: pointer;
        display: none;
        font-size: 1.7rem;
      }
      .navbar #close-menu-btn {
        position: absolute;
        display: none;
        color: #000;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 1.7rem;
      }
      @media screen and (max-width: 900px) {
        header.show-mobile-menu::before {
          content: "";
          height: 100%;
          width: 100%;
          position: fixed;
          left: 0;
          top: 0;
          backdrop-filter: blur(5px);
        }
        .navbar .menu-links {
          height: 100vh;
          max-width: 300px;
          width: 100%;
          background: #6EACDA;
          position: fixed;
          left: -300px;
          top: 0;
          display: block;
          padding: 75px 40px 0;
          transition: left 0.2s ease;
        }
        header.show-mobile-menu .navbar .menu-links {
          left: 0;
        }
        .navbar .menu-links li {
          margin-bottom: 30px;
        }
        .navbar .menu-links li a {
          color: #000;
          font-size: 1.1rem;
        }
        .navbar .menu-links .join-btn a {
          padding: 0;
        }
        .navbar .menu-links .join-btn a:hover {
          color: #6EACDA;
          background: none;
        }
        .navbar :is(#close-menu-btn, #hamburger-btn) {
          display: block;
        }
        .hero-section {
          background: none;
        }
        .hero-section .content {
          margin: 0 auto 80px;
        }
        .hero-section .content :is(h1, .search-form) {
          max-width: 100%;
        }
        .hero-section .content h1 {
          text-align: center;
          font-size: 2.5rem;
          line-height: 55px;
        }
        .hero-section .search-form {
          display: block;
          margin-top: 20px;
        }
        .hero-section .search-form input {
          border-radius: 4px;
        }
        
        .hero-section .search-form button {
          margin-top: 10px;
          border-radius: 4px;
          width: 100%;
        }
        .hero-section .popular-tags {
          display: none;
        }
      }

      
      
      /* text Typing starts */
      
      .textberjalan {
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
        background: #6EACDA;
        border-radius: 10px;
        padding: 1rem 9%;
      }
      .textberjalan .textjalan{
        color: #E2E2B6;
        position: relative;
      }
      .textberjalan .textjalan::before {
        content: "";
        height: 30px;
        width: 2px;
        position: absolute;
        top: 50%;
        right: -8px;
        background: #E2E2B6;
        transform: translateY(-45%);
        animation: blink 0.7s infinite;
      }
      .textberjalan .textjalan.stop-blinking::before {
        animation: none;
      }
      @keyframes blink {
        50% { opacity: 0 }
      }
      
      /* Home  */
      .home-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 100px;
        gap: 10px;
        background: #03346E;
        padding: 30px;
        margin: 2rem 0;
        border-radius: 10px;
      }
      
      .btn-play {
        --bg: #6EACDA;
        --text-color: #fff;
        position: relative;
        width: 100px;
        border: none;
        background: var(--bg);
        color: var(--text-color);
        padding: 10px;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.2s;
        border-radius: 5px;
        opacity: 0.8;
        letter-spacing: 1px;
        box-shadow: #4285b8 0px 7px 2px, #000 0px 8px 5px;
        margin-top: 10px;
      }
      
      .btn-play:hover {
        opacity: 1;
      }
      
      .btn-play:active {
        top: 4px;
        box-shadow: #6EACDA 0px 3px 2px,#000 0px 3px 5px;
      }

      /* about starts */
      .main{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-image: url(/img/PIXECT-20240729110540.jpg); */
        background-position: center;
        background-size: cover;
      }
      .profile-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        width: 100%;
        border-radius: 25px;
        padding: 30px;
        border: 1px solid #ffffff40;
        box-shadow: 0 5px 20px rgba(0,0,0,0.4);
        background-color: #6EACDA ;
      }
      .image{
        position: relative;
        height: 150px;
        width: 150px;
      }
      .image .profile-pic{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 5px 20px rgba(0,0,0,0.4);
      }
      .data{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
      }
      .data h2{
        font-size: 33px;
        font-weight: 600;
      }
      span{
        font-size: 18px;
      }
      .row{
        display: flex;
        align-items: center;
        margin-top: 30px;
      }
      .row .info{
        text-align: center;
        padding: 0 20px;
      }
      .buttons{
        display: flex;
        align-items: center;
        margin-top: 30px;
      }
      .buttons .btn{
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        padding: 8px 25px;
        border-radius: 25px;
        font-size: 18px;
        white-space: nowrap;
        background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
      }
      .buttons .btn:hover{
        box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
      }

      footer {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #03346E;
        padding: 20px 0;
      }
      footer div {
        padding: 0 10px;
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      footer span {
        color: #fff;
      }
      footer a {
        padding: 0;
      }